* {
  margin: 0;
  padding: 0;
  background-color: hsl(212, 45%, 89%);
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;    /* Centers vertically */
}

.container {
  width: 90%;
  max-width: 300px; /* Set a fixed width or percentage */
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 15px; /* Optional: To give it rounded corners */
  text-align: justify;
  height: 470px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: auto;
  overflow: hidden; /* Hide overflowed image edges */
  border-radius: 10px;
}

.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.text {
  width: 99%;
  margin: 5px;
  height: 150px;
  background-color: hsl(0, 0%, 100%);
}

.text h2 {
  font-size: 1.5rem;
  color: hsl(218, 44%, 22%);
  margin: 20px 10px;
  width: 90%;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  background-color: hsl(0, 0%, 100%);
  font-weight: 400;
}

.text p {
  color: hsl(216, 15%, 48%);
  width: 85%;
  text-align: center;
  margin: 15px 18px;
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  background-color: hsl(0, 0%, 100%);
}

